<h1>This is the secret page</h1>


<p>You found it!!!!</p>
<p style="color: blue">Woooooooooooooooow!!!!!!!</p>

    <li><a href="/auth/register">Sign Up</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <li><a href="/auth/login">Login</a></li>